/* 컨텐츠 박스 */
$color-primary: #ededed; // 주 색상
$numbers-icon-box: 15px;

/* 텍스트 */
$numbers-text-title-letter-spacing: -0.4px;
$color-title-text: #1A1C20; // 타이틀 텍스트 색상
$color-text-content: #9e9e9e;
$numbers-text-weight: 700; // 텍스트 굵기
$numbers-text-title-size: 18px; // 타이틀 텍스트 사이즈
$numbers-text-content-md-size: 16px; // 본문 중간 텍스트 사이즈
$numbers-search-bar-icon-size: 16px; // 서치바 사이즈
$numbers-text-content-size: 14px; // 본문 텍스트 사이즈

