div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}
div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}


div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}


div.sq-default-frame > section.frame-left {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #f8f9fa;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

div.sq-default-frame > section.frame-right {
    height: 100vh;
    margin-left: 220px;
}

header.sq-header {
    width: 100%;
    height: 30px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 100;
    color: #ffffff;
}

header.sq-header div.sq-bread {
    line-height: 30px;
    padding-left: 10px;
    font-size: 13px;
    position: relative;
    background-color: #333333;
    z-index: 100;
}


section.sq-main-sidebar-info {
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(56,88,225);
    background: -moz-linear-gradient(180deg, rgba(56,88,225,1) 0%, rgb(32, 58, 170) 100%);
    background: -webkit-linear-gradient(180deg, rgba(56,88,225,1) 0%,rgba(32,58,170,1) 100%);
    background: linear-gradient(180deg, rgba(56,88,225,1) 0%,rgba(32,58,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3858e1', endColorstr='#4aabe5',GradientType=1 );
}
section.sq-main-sidebar-info > div.logo > img {
    height: 40px;
}
section.sq-main-sidebar-info > div.info {
    color: #ffffff;
}

section.sq-main-sidebar-menu {
    height: calc(100vh - 75px - 51px - 56px - 56px - 25px);
    overflow-y: auto;
    padding: 10px;
}
section.sq-main-sidebar-menu > div.item {
    margin-bottom: 10px;
}
section.sq-main-sidebar-menu > div.item > div.in-title {
    background-color: #eeeeee;
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: 600;
}
section.sq-main-sidebar-menu > div.item > div.in-title i {
    margin-right: 5px;
}
section.frame-right > div.contents-body {
    height: calc(100vh - 30px);
    margin-top: 30px;
    padding: 15px;
    overflow: auto;
}


/*loading*/
div.custom-loading-container {
    position: fixed;
    width: 100%;
    height: calc(100vh);
    z-index: 99999;
    top: 0;
    left: 0;
}
div.custom-loading-container div.custom-loading-back {
    width: 100%;
    height: calc(100vh);
    background-color: #ffffff;
    opacity: 0.5;
}
div.custom-loading-container div.custom-loading-contents {
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(100vh / 2 - 50px);
    left: 0;
    z-index: 100000;
}

/* 기본 레이아웃 */

div.pos-wrap{
    font-family: "Noto Sans KR", sans-serif;
}

/* 메뉴 헤더 */
div.pos-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

div.pos-left{
    display: flex;
    margin-top: 15px;
}

div.pos-h1 {
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    margin-top: 2px;
    margin-left: 10px;
}

div.pos-order-wrap{
    width: 400px;
    height: 45px;
    margin-top: 10px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

div.pos-order-wrap > div {
    width: 120px;
    text-align: center;
}

div.pos-order-wrap > div:nth-of-type(1){
    height: 83%;
    line-height: 37px;
    border-radius: 20px;
    background: #ffffff;
    margin-left: 4px;
}

div.pos-order-wrap > div:nth-of-type(2) {
    color: #9e9e9e;
}

div.pos-order-wrap > div:nth-of-type(3) {
    color: #9e9e9e;
}

/* 햄버거 버튼  스타일*/
.menu-trigger {
    margin: 5px 10px;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 25px;
    height: 20px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #1A1C20;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 8px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

/* 상단 아이콘 */
div.pos-right {
    display: flex;
}
div.pos-right > .el-col {
    margin-right: 10px;
}
div.pos-right > .el-col > div.pos-icon-info {
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

div.pos-icon {
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /*도착 예정시간 버튼*/
.el-dropdown {
    vertical-align: top;
}
.el-dropdown + .el-dropdown {
    margin-left: 15px;
}
.el-icon-arrow-down {
    font-size: 12px;
}

/*line*/
div.line {
    border-bottom: solid 1px #ededed;
}

/* searchbar */
div.pos-search-wrap {
    display: flex;
    margin: 15px 10px;
    justify-content: space-between;
}

div.demo-input-suffix {
    display: flex;
}

div.demo-input-suffix > .demo-input-label {
    font-size: 22px;
    line-height: 30px;
}

.el-input {
    margin-left: 10px;
    width: 500px;
    font-size: 16px;
}

.pos-search-right > .el-button {
    width: 85px;
    font-size: 16px;
}

.pos-search-right > .el-button > span {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    color: #1A1C20;
}
/*진행, 완료 메뉴 */
div.pos-reach {
    display: flex;
    align-items: center;
}

div.pos-reach span {
    font-size: 22px;
    font-weight: 500;
}

div.pos-reach span.pos-num {
    font-size: 20px;
    line-height: 35px;
    color: #9e9e9e;
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #FF7F00;
}

.el-dropdown {
    position: absolute;
    right: 10px;
}

div.pos-reach .el-dropdown span {
    font-size: 16px;
    font-weight: 500;
}

/* 조리중 */
div.pos-cook {
    margin: 15px 18px;
    font-size: 20px;
    font-weight: 600;
    color: #9e9e9e;
}

div.pos-cook span {
    font-size: 18px;
    margin-left: 3px;
}

/* order-list*/
table.pos-order-list {
    width: 100%;
    margin: 20px;
}

table.pos-order-list tr {
}

table.pos-order-list > tr td {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    width: 450px;
}

table.pos-order-list > tr td:last-child {
    vertical-align: center;
    text-align: right;
}

table.pos-order-list > tr:nth-of-type(1) td {
    color: #9e9e9e;
}

div.order-list .el-button {
    margin: 20px 8px;
    width: 180px;
    height: 50px !important;
    background-color: #FF7F00;
    color: #ffffff;
    font-size: 18px !important;
}

div.order-list2 .el-button {
    margin: 20px 8px;
    width: 180px;
    height: 50px !important;
    background-color: #FF7F00;
    color: #ffffff;
    font-size: 18px !important;
}

table.pos-order-list .el-button > i {
    margin-right: 10px;
}

div.order-list {
    display: flex;
}

div.order-list img {
    margin: 20px 0px 0px 20px;
    width: 60px;
    border-radius: 30px;
}

div.order-list2 {
    display: flex;
}

div.order-list2 img {
    object-fit: cover;
    margin: 20px 0px 0px 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

table.pos-order-list  {

}

table.pos-order-list > tr > td:nth-of-type(5) {
    color: #00C73c;
    text-align: right;
}


