<template>
    <div class="pos-wrap">
        <div class="pos-header">
            <div class="pos-left">
                <a class="menu-trigger" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="pos-h1"> 주문 </div>
            </div>
            <div class="pos-order-wrap">
                <div>전체주문</div>
                <div>배달&포장</div>
                <div>매장이용</div>
            </div>
            <div class="pos-right">
                <el-col>
                    <div class="pos-icon">
                            <i class="el-icon-plus"></i>
                    </div>
                    <div class="pos-icon-info">주문생성</div>
                </el-col>
                <el-col>
                    <div class="pos-icon">
                        <el-badge is-dot class="item">
                            <i class="el-icon-house"></i>
                        </el-badge>
                    </div>
                    <div class="pos-icon-info">매장관리</div>
                </el-col>
                <el-col>
                    <div class="pos-icon">
                            <i class="el-icon-phone"></i>
                    </div>
                    <div class="pos-icon-info">전화주문</div>
                </el-col>
                <el-col>
                    <div class="pos-icon">
                        <el-badge is-dot class="item">
                            <i class="el-icon-message-solid"></i>
                        </el-badge>
                    </div>
                    <div class="pos-icon-info">공지사항</div>
                </el-col>
            </div>
        </div>
        <div class="line"></div>
        <div class="pos-search-wrap">
            <div class="demo-input-suffix">
                <span class="demo-input-label"><i class="el-icon-search"></i></span>
                <el-input
                    placeholder="주문번호 혹은 메뉴명으로 원하는 주문을 찾으실 수 있어요."
                    v-model="search">
                </el-input>
            </div>
            <div class="pos-search-right">
                <el-button><i class="el-icon-s-operation"></i><span>필터</span> </el-button>
            </div>
        </div>
        <div class="line"></div>
        <el-row class="pos-reach">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1"><span class="pos-reach-title1">진행</span> <span class="pos-num">(6)</span></el-menu-item>
                <el-menu-item index="2"><span class="pos-reach-title2">완료</span> <span class="pos-num">(24)</span></el-menu-item>
            </el-menu>
            <el-dropdown>
                <el-button>
                    도착예정시간 <i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>배차 중</el-dropdown-item>
                    <el-dropdown-item>배차 완료</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-row>
        <div class="line"></div>
        <div class="pos-cook">
            <div>조리중<span>(3)</span></div>
        </div>

        <div class="order-list">
            <div><img src="/images/icon/bae.png" alt="배달의 민족 아이콘" /></div>
            <table class="pos-order-list">
                <tr>
                    <td class="pos-clock">19:10 · 11분 경과</td>
                    <td class="pos-store-name">맘스베이커리</td>
                    <td rowspan="2" class="pos-order-address"> 안산시 단원구</td>
                    <td class="pos-order-info">선결제</td>
                    <td> <i class="el-icon-success"></i> 배차완료</td>
                </tr>
                <tr>
                    <td class="pos-order-num">...JKD63 #4918</td>
                    <td class="pos-order-menu">메뉴 1개 · 100% 생과일그래놀라</td>
                    <td class="pos-order-total">₩19,500</td>
                    <td class="pos-min"> 13분 </td>
                </tr>
            </table>
            <div><el-button size="medium"><i class="el-icon-dish-1"></i><span> 조리완료</span></el-button></div>
        </div>

        <div class="line"></div>

        <div class="order-list2">
            <div><img src="/images/icon/yo.png" alt="요기요 아이콘" /></div>
            <table class="pos-order-list">
                <tr>
                    <td class="pos-clock">19:13 · 8분 경과</td>
                    <td class="pos-store-name">맘스베이커리</td>
                    <td rowspan="2" class="pos-order-address">안산시 단원구 </td>
                    <td class="pos-order-info">선결제</td>
                    <td> <i class="el-icon-success"></i> 배차완료</td>
                </tr>
                <tr>
                    <td class="pos-order-num">...JKD63 #4920</td>
                    <td class="pos-order-menu">메뉴 1개 · 휘낭시에(1p) · 맛있...</td>
                    <td class="pos-order-total">₩15,500</td>
                    <td class="pos-min"> 13분 </td>
                </tr>
            </table>
            <div><el-button size="medium"><i class="el-icon-dish-1"></i><span> 조리완료</span></el-button></div>
        </div>

        <div class="line"></div>

        <div class="order-list">
            <div><img src="/images/icon/cupang.png" alt="코팡 이츠 아이콘" /></div>
            <table class="pos-order-list">
                <tr>
                    <td class="pos-clock">19:10 · 11분 경과</td>
                    <td class="pos-store-name">맘스베이커리</td>
                    <td rowspan="2" class="pos-order-address">안산시 상록구</td>
                    <td class="pos-order-info">선결제</td>
                    <td> <i class="el-icon-timer"></i> 배차 중</td>
                </tr>
                <tr>
                    <td class="pos-order-num">1SPX80</td>
                    <td class="pos-order-menu">메뉴 1개 · 소금빵</td>
                    <td class="pos-order-total">₩20,000</td>
                    <td class="pos-min"> 12분 </td>
                </tr>
            </table>
            <div><el-button size="medium"><i class="el-icon-dish-1"></i><span> 조리완료</span></el-button></div>
        </div>
    </div>

</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap')
</style>
<script>
export default {
    data() {
        return {
            activeIndex: '1',
            search:'',
        };
    },
    methods: {
        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        }
    }
}
</script>
